/*********IMPORTANTE:TESTATO DA 1366PX IN POI***********************/
body{
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    color: #393d41;
    line-height: 1.65;
}



/************************************HEADER*********************************/

header{
    text-align: center;
}

#divHeader{
    background-color: black;
    padding: 30px;
    text-align: left;
}


header div img{
    background-color: black;
    width: 150px;
    

}

#divTitle{
    background-image: url(../images/banner.jpg);
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center top;
    padding:300px 500px 200px;

}

header div h1{
    color:  #25a2c3;
    font-family: "Montserrat",sans-serif;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1;/*interlinea 1.5 come indicato nella traccia,distanziava troppo le due righe del titolo,ho dovuto mettere 1*/
}

header div p{
    margin-top: 30px;   
    /*font-size: 1.3rem;  = non ho cambiato il rem qui in quanto nella traccia
    era segnato che il body dovesse avere 1.2rem. Anche se con 1.3 rem,quindi poco poco
    più grande, mi trovavo con gli stessi "accapo linea" dell'immagine da copiare...ma ho pensato
    che fosse meglio seguire la traccia*/
}

header div a{
    background-color: #f04c2f;
    color: white;
    font-family: "Montserra",sans-serif;
    font-weight: bold;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding:15px 30px;
 
}

/******************************FINE HEADER*********************************
/******************************INIZIO MAIN*******************************/

/*************************PRIMA SECTION************************/

#firstSection{
    padding:30px;
    text-align: center;
    margin: 100px;
    margin-bottom: 200px;
    
}



#primoFloatLeft{
    float: left;
    width: 50%;
}

#scritte{
    width: auto;
    text-align: left;
}



section div h2{  /*gli h2 dentro i div, sono tutti uguali quindi li formatto una sola volta. I <p> invece sono formattati dal body*/
    color: #25a2c3;
    font-family: "Montserra",sans-serif;
    font-weight: bold;
    padding-top: 17px;
    padding-bottom: 8px;
}

#imgNotebook{
    width:auto;
    border-radius: 50%;
}
/**************************FINE PRIMA SECTION*****************************/

/**************************FORMATTAZIONE DIV ARANCIONE*****************************/

#epicodeGarantisce{
    text-align: center;
    margin-top: 50px;
    background-color:#e22d0e ;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    
}


#epicodeGarantisce h2{
    padding-top: 70px;
    color: white;
    font-family: "Montserra",sans-serif;
    font-weight: bold;
    font-size: 2rem;   
    margin-bottom: 20px; 
}

#epicodeGarantisce p{
    color: white;
    font-style: oblique;
}

div p span{
    font-size: 0.8rem;
}

/**********************************FINE FORMATTAZIONE DIV ARANCIONE*************************************/
/***********************************INIZIO SECONDA SECTION***********************/
#secondSection {
    text-align: center;
    width: 90%;
    margin: 0 auto; /* Centra la sezione orizzontalmente */
    margin-top: 200px;
    padding-bottom: 100px;
}


.divSecondaSection {
    border: 1px solid #dee1e3;
    border-radius: 3%;
    padding-bottom:20px; /* Aggiunto spazio sotto */
    float: left;
    width: 30%; /* Larghezza dei div */
    box-sizing: border-box; /* Assicura che il padding e il bordo non aumentino la larghezza */
    margin: 0 15px; /*spazio tra i div*/
}

.imgSecondaSection {
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    object-fit: cover; /* adattamento immagine*/  
}

.divSecondaSection p{
    padding-left: 10px;
    padding-right: 10px;
}

/*************************************FINE SECONDA SECTION*******************************/

/*************************************INIZIO FOOTER*******************************************/
footer{
    text-align: center;
    background-color: #25a2c3;
    margin-top: 600px;
    padding-top: 40px;
    padding-bottom: 60px;
    color: white;
}


footer h2{
    font-family: "Montserra",sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
}

footer div {
    width: 20%; /* Larghezza del div */
    margin: 0 auto; /* Centrato orizzontalmente */
    text-align: left; /* Allinea il testo a sinistra */
}


footer a{
    color: white;
}

footer hr{
    padding-top: 30px;
    width: 20%;
    margin: auto; 
    border: none; 
    border-bottom: 1px solid white;
    
}

#pixabay{
    font-size: 1rem;
}
